@import 'var';

html, body {
    height: 100%;
}

body {
    display: flex;
    color: $text-color;
    align-items: stretch;
    flex-direction: column;
    background: $background-color;
}

main {
    flex: 1;
    display: flex;
    overflow: auto;
    padding: 50px 50px 100px 50px;
}

footer {
    z-index: 999;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    p { margin: 0; }

    #footer-logo {
        display: inline-block;
        height: 20px;

        img { width: 45px; }
    }

    .content {
        display: flex;
        padding: 10px;
    }

    .stretch {
        flex: 1;
    }

    .vertical-center {
        display: flex;
        align-items: center;
    }

    .dark {
        display: flex;
        padding: 10px;
        color: $footer-color;
        background: $footer-backcolor;

        small {
            color: #939393;
        }

        a { 
            color: $primary-color;
            text-decoration: none;

            &:hover { text-decoration: underline;}
        }
    }
}

a {
    color: $text-color;

    &:hover {
        color: $primary-color;
    }
}

.menu-item {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #a1a0a0;
}

.primary {
    background: $primary-color;
}

.secondary {
    background: $secondary-color;
}