*.msi
*.wixpdb
*.wixobj
Files.wxs
.cache
.vs
out
node_modules
.vscode-test/
*.vsix
src/app/dist
src/web/wwwroot/css/
src/web/wwwroot/js/
src/desktop/**/app.js
bin
obj
TestResults
src/components/lib/**
src/vscode/build
src/desktop/wixBuild