@import '../var';

.noscript {
    display: block;
    text-align: center;
    padding-top: 150px;
}

.title {
    text-align: center;
    margin: 0 0 25px 0;

    h1 {
        margin: 0;
    }
}

.done {
    border-top: 2px solid #008000;
}

.wip {
    border-top: 2px solid #e2d300;
}

.data {    
    background: white;
    margin: 0 0 50px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

    .tab-content {
        height: 450px;
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .tab-input { 
        display: none;

        &:checked + label {
            color: rgba(0, 0, 0, 0.8);
            border-bottom: 2px solid $primary-color;
        }
    }

    #tab-button-stls:checked ~ #tab-stls,
    #tab-button-gallery:checked ~ #tab-gallery {
        display: block;
    }

    label {   
        padding: 15px;
        cursor: pointer;    
        font-weight: bold;
        display: inline-block;
        color: rgba(0, 0, 0, 0.3);

        &:hover {            
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .data-footer {
        display:flex;
        padding: 15px;

        .data-info {
            flex: 1;
            text-align: right;
        }

        .data-info-item {
            display: inline;
            font-size: 0.8rem;
            padding: 0px 5px;
        }
    }
}

#stl-viewer-app {
    display: none;
}

@media (min-width: 960px) {
    #stl-viewer-app {
        display: block;
    }
}