<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="File" name="FileTarget" archiveAboveSize="1000000" maxArchiveFiles="1"
        fileName="3d2p-error.log" layout="${date} | ${message} ${exception:format=tostring}" />
    <target xsi:type="ColoredConsole" name="ConsoleTarget" layout="${message}">
        <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red"/>
    </target>
  </targets>
  <rules>
    <logger name="ConsoleLogger" minlevel="Info" writeTo="ConsoleTarget" />
    <logger name="ErrorLogger" minlevel="Error" writeTo="FileTarget" />
  </rules>
</nlog>