html, body  {
    height: 100%;
}

body {
    display: flex;
    align-items: stretch;
    color: #404040;
    background: #f7f7f7;
}

#app-loading {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#print-projects-app {
    flex:1;
}