@import 'var';

html, body {
    height: 100%;
}

body {
    display: flex;
    color: $text-color;
    flex-direction: column;
    background: $background-color;
}

header {
    padding: 20px 0;
    background: white;
    box-shadow: $box-shadow;

    .container {
        display: flex;
    }

    nav {
        flex-grow: 1;
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        a {
            margin-right: 10px;
            font-weight: bold;
            text-decoration: none;
            color: #a1a0a0;
            padding: 5px;
        }

        form {
            display: flex;
        }

        input[type="text"] {
            padding: 5px 10px;       
            border: 1px solid #0000001f;
            border-radius: 5px 0 0 5px;
        }

        input[type="submit"] {
            color: $text-color;
            background: none;
            border-radius: 0 5px 5px 0;            
            border: 1px solid #0000001f;
            border-left: none;

            &:hover {
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

main {
    padding: 50px 0;
}

footer {
    padding: 20px 0;
    margin-top: auto;
    color: $footer-color;
    background: $footer-backcolor;

    small {
        color: #939393;
    }
}

#logo {
    height: 35px;
    
    img {
        height: 35px;
    }
}

a {
    color: $text-color;

    &:hover {
        color: $primary-color;
    }
}

img {
    max-width: 100%;
}

.container {
    max-width: 974px;
    padding: 0 25px;
    margin: 0 auto;
}