@import 'shared/normalize';
@import 'shared/font-awesome';
@import 'shared/font';
@import 'shared/typography';
@import "var";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: $text-color;
}

a:hover {
    color: $primary-color;
}

img {
    max-width: 100%;
}

header {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

footer {
    margin-top: auto;
    color: $footer-color;
    background: $footer-backcolor;
}

small {
    color: #939393;
}

#logo {
    height: 35px;
}

#logo img {
    height: 35px;
}

.container {
    max-width: 1024px;
    padding: 15px 25px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}