@import '../var';

.gallery {
    overflow: hidden;
    display: block;
    position: relative;
    max-height: 450px;
    text-align: center;
    background: $background-color;

    input {
        display: none;
    
        &:checked + .slide {
            display: block;
        }
    }

    .slide {
        display: none;

        img {
            max-height: 450px;
        }
    }

    .gallery-nav {
        bottom: 0;
        width: 100%;
        display: block;
        position: absolute;

        label {
            padding: 8px;
            border-radius: 50%;
            background: white;
        }
    }
}