@page
@{
    ViewData["Title"] = "Application";
}
@section Styles {
    <link rel="stylesheet" href="~/css/application.css" />
}

<div id="application">
    <h1>3D2P - 3D Print Project</h1>
    <p class="github-line"><span>Free</span> & <span>Open Source</span> <a href="https://github.com/geaz/3D2P-3DPrintProject" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
    
    <div id="desktop" class="box">
        <div class="box-content left">
            <h2>3MF Viewer & Packager</h2>
            <p>The 3D2P desktop application is a CLI which includes functionalities to open, view and create <b>3MF files</b>.</p>
            <p>In contrast to other 3MF applications the CLI is able to add readme files to a 3MF in a specification compliant way. Every 3MF file created by 3D2P is a <b>valid 3MF file!</b></p>
            <p>This way you are able to package your <b>complete 3D print project</b> into a <b>single file</b>.</p>
            <div class="action-bar">
                <a class="action primary last" href="https://github.com/geaz/3D2P-3DPrintProject/releases/download/v1.0.0-Release/3D2P-1.0.0.msi" target="_blank">Download CLI - <i class="fa fa-windows" aria-hidden="true"></i> 64-Bit (1.0.0)</a>
            </div>
        </div>      
        <video src="~/videos/app.mp4" poster="~/videos/app-poster.png" muted controls>
            <img src="~/videos/app-poster.png" title="No video support" />
        </video>
    </div>
    <div id="vscode" class="box">
        <video class="left" src="~/videos/vsc.mp4" poster="~/videos/vsc-poster.png" muted controls>
            <img src="~/videos/vsc-poster.png" title="No video support" />
        </video>
        <div class="box-content">
            <h2>Visual Studio Code</h2>
            <p>Creating 3MF files just with a CLI is not quite convenient. Thats why there is an extension available for Visual Studio Code!</p>
            <p>It includes the functionality to create 3D2P files, to manage the STLs in a project and the project values. Like setting the thumbnail or readme file.</p>
            <p>Furthermore there is a <b>STL Viewer</b> included which is able to <b>add notes</b> to your STL!</p>
            <div class="action-bar">
                <a class="action secondary last" href="https://marketplace.visualstudio.com/items?itemName=3d2p.vscode" target="_blank">Download Extension</a>
            </div>
        </div>      
    </div>    
</div>