@page
@model Index
@{
    ViewData["Title"] = "Home";
}

<div class="headline">
    <p class="secondary-line"><span>Free</span> & <span>Open Source</span> <a href="https://github.com/geaz/3D2P-3DPrintProject" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
    <p class="primary-line"><span>Manage</span> & <span>Upload</span> your 3D Print Projects within <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></p>
</div>

<div class="action">
    <a href="https://marketplace.visualstudio.com/items?itemName=3d2p.vscode" target="_blank">Download Extension</a>
</div>
    
<video src="~/videos/demo.mp4" poster="~/videos/demo-poster.png" muted controls>
    <img src="~/videos/demo-poster.png" title="No video support" />
</video>