@page
@model Index
@{
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript">
        window.printProject = {};
        window.printProject.dropCallback = function(base64DataUrl) {
            return new Promise((resolve, reject) => {
                fetch("/", {
                    method: "POST",
                    body: JSON.stringify(base64DataUrl),
                    headers: { 'Content-type': 'application/json' }
                })
                .then((response) => {
                    if(response.ok) {
                        response.text()
                        .then((extractionPath) => {
                            resolve({ projectFolderUrl: '/Extracted/' + extractionPath });
                        });
                    }
                    else { resolve(); }
                });
            });
        };
    </script>
}

<div id="print-projects-app"></div>