<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 3D Print Project</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="content">
            <a href="/" title="Home"><img src="/images/logo.svg" id="footer-logo" alt="Logo"/></a>
            <div class="example-dl">
                <p>
                    Look what you can do with 3D2P! 
                    <a href="/download" title="Download example 3MF">Download</a> and drop a 3MF example.
                </p>
            </div>
        </div>
        <div class="impress">
            <small>No shitty ads, cookies, 3rd party ressources or tracking.</small>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
