<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 3D2P - 3D Print Projects</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">            
            <a id="logo" asp-page="/Index" title="3D2P - 3D Print Projects - Home"><img src="~/logo.svg" alt="3D2P" /></a>
            <nav>                
                <a asp-page="/Index" title="Home">Home</a>
                <a asp-page="/Overview" title="Project overview">Projects</a>
                <form method="get" asp-page="/Overview">
                    <input type="text" name="searchTerm" placeholder="Search projects ..." />
                    <input type="submit" value="Search" />
                </form>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="container">
            <small>No shitty ads, cookies, 3rd party ressources or tracking.</small>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
